:root {
    --font-serif: 'Source Serif Pro', serif;
    --font-sans: 'Fira Sans', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --thin-border: 0.0625rem;
    font-family: var(--font-serif);
    font-size: calc(1rem + 0.5vw);
    line-height: 1.5;
    background-color: #FFF;
    color: #333;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: radial-gradient(90% 90%, #617, #425);
    font-family: var(--font-sans);
}
header > nav ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}
header > nav li {
    display: inline-block;
}
header > nav a {
    display: inline-block;
    color: #F9C0FF;
    padding: 0.67rem;
}
header > nav a:focus, header > nav a:hover {
    background-color: #402050;
    text-decoration: none;
    color: #F9C0FF;
}
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 120ch;
}
body > footer {
    background-color: #f5f5f5;
    margin: auto 0 1rem 0;
    padding-left: 1.5rem;
    font-size: smaller;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
}
h1 {
    border-bottom-color: #adadad;
    border-bottom-style: solid;
    border-width: var(--thin-border);
    padding-bottom: 0.67rem;
}
a {
    text-decoration: none;
    color: #637;
}
a:focus, a:hover {
    color: #849;
}
code, samp {
    font-family: var(--font-mono);
    background-color: #FCF;
    border-radius: 0.5rem;
    padding: var(-hr-width);
}
time {
    font-size: smaller;
}
ul.demos, ul.digests, ul.pagination {
    list-style: none;
    padding-inline-start: 0;
}
ul.digests ul, ul.demos ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
}
img.demo-thumbnail {
    float: left;
    width: 4rem;
    height: 3rem;
}
li.post-digest {
    border-bottom-color: #d6d6d6;
    border-bottom-style: solid;
    border-width: var(--thin-border);
}
li.post-digest > header {
    margin-bottom: 1.5rem;
}
li.post-digest > header > h2 {
    margin-bottom: 0;
}
li.post-digest > article > img {
    float: left;
    margin-right: 1rem;
}
li.post-digest > footer > nav {
    text-align: right;
}
li.post-digest > footer > nav > a {
    margin-left: 0.5rem;
    font-size: smaller;
}
nav.pagination {
    text-align: center;
}
ul.pagination > li {
    display: inline-block;
    margin: 0 0.67rem;
}
